functions-framework
google-cloud-storage
google-cloud-aiplatform
google-genai
pydantic
requests
python-docx 
pypdf
google-auth
google-auth-httplib2
google-auth-oauthlib
tenacity
google-cloud-firestore
pybreaker
opentelemetry-api==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-instrumentation-flask
opentelemetry-exporter-gcp-trace==1.9.0
opentelemetry-propagator-gcp==1.9.0
PyJWT
cryptography
google-cloud-secret-manager
google-adk
supabase
python-dotenv
httpx
argparse
vertexai
google-cloud-logging
jsonschema